@media only screen and (max-width: 1024px) {
  .picture {
    max-height: 22rem; /*why doesn't work?*/
    border: solid yellow;
  }

header {
  max-width: 100%;
}
.container {
  max-width: 100%;
}
  .container .banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
    font-size: 1.33rem;
    border: solid black;
  }

}
/*720px*/
@media only screen and (max-width: 720px) {

  .picture{
    background-position: 20%;
    max-height: 17rem;
  }

.container {
  max-width: 100%;
  border: solid green;
}
  .container .banner {
    padding: 1rem 0 1rem 0;
    margin-top: 9rem;
    width: 100%;
    margin: 9rem 0 0 0;
    text-align: center;
    font-size: 1rem;
  }

  .logo h4 {
    display: none;
  }

  nav span{
    display: none;
  }

  header .menu {
    display: block;
    font-weight: bold;
    margin-right: 1rem;
  }

  .icons {
    border: solid pink;
    flex-direction: column;
    margin-top: 10rem;
  }

  .icon {
    border: solid orange;
    margin-top: 1.54rem;
    max-height: 8rem;
    justify-content: center;
  }

  .icon img {
    border: dotted red;
    margin-bottom: 0px;
  }

  .icon span {
    margin-top: 0px;
    font-size: 0.77rem;
    border: dotted blue;
  }

.content {
  flex-direction: column;
  border: solid red;
  max-width: 100%;
}

.con {
  border: solid violet;
  margin: 0 auto;
  min-width: 100%;
  flex-direction: row;
  
}

.con h2  {
 min-width: 100%;
 border: solid purple;
}

  .con p{
    padding: 1rem;
  }


}

body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.picture {
  background-image: url("../../resources/img/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 1rem;
}

header {
  width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo {
  display: flex;
}

nav {
  display: flex;
}

nav span {
  margin-right: 2rem;
}

.menu {
  display: none;
}

.container {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.banner{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  color: dimgray;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

/*icons*/
.icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.icon {
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-between;
  align-items: center;

}

.icon img {
  width: 5rem;
  margin: 0 6rem;
}

.paper img {
  width: 3.5rem;
}

.icon span {
  text-align: center;
}

/*content*/
.content {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.con {
  width: 35%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}
.con h2{
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/*footer*/
footer {
  padding: 4rem;
  background-color: azure;
  display: flex;
}
footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

footer .container {
  justify-content: flex-start;
}
